/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.envelope{
	background-color:#2C5197;
	background-image: /*linear-gradient(white 0px, transparent 1px),
	linear-gradient(90deg, white 0px, transparent 1px),*/
	linear-gradient(rgba(255,255,255,.3) 0px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 0px, transparent 1px);
	background-size:40px 40px, 40px 40px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	min-height: 100vh;
}

.navbar{
	color: white;
	background-color: #00BCD4;
	padding: 25px;
	margin-bottom: 75px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
	border-radius: 0;
	z-index: 1;
}

.navbar-brand{
	color: white;
	font-size: 30px;
	font-weight: bold;
}

.nav-item{
	font-size: 18px;
	padding: 0 10px;
}

.nav-item > a{
	color: white;
}

.navbar a:visited{
	color: white;
}

.navbar a:hover{
	color: white;
	background-color: #00BCD4;
	text-decoration: underline;
}

.nav > li > a:hover, .navbar-brand:hover{
	background-color: #00BCD4;
	text-decoration: underline;
}

.float-right{
	float: right;
}

.btn-signup{
	background-color: red;
}

#notice{
	text-align: center;
	width: 400px;
	position: absolute;
	z-index: 10; 
	margin-left: -200px;
	left: 50%;
	background-color: #f1776c;
	font-size: 20px;
	color: white;
	font-weight: bold;
	padding: 20px;
	border-radius: 5px;
	top: 3%;
}


html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
